p, li {
  font-family: 'Titillium Web', sans-serif;
  padding-top: 0;
  margin-top: 0;
  color: #2a2a2a;
}

.header-highlight{
  font-family: 'Titillium Web', sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.header-highlight p {
  margin-bottom: 0;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 2rem;
  color: #c21057;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a2a2a;
  margin-top: 1.5rem;
}

h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  padding-top: .3rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.2rem;
  color: #2a2a2a;
}

p{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.125em;
  padding-top: .8rem;
  margin-block-end: 0;
  margin-inline-end: 0;
}

pre {
  background-color: rgb(241, 241, 241);
  padding: .4rem;
  font-size: .9rem;
}


p code{
  color: #00838F;
}

a{
  color: #c21057;
}

.inline-highlight{
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
}

.inline-highlight p {
  color: #1565c0;
  margin-bottom: 0;
}

.image-credit{
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
  color: #8c8c8c;
  font-size: .95rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* .gatsby-highlight{
  overflow: auto;
} */

ol{
  li{
    font-size: 1.1rem;
  }
}

.gatsby-highlight pre[class*="language-"] {
  background-color:rgb(251, 247, 240);
  margin-top: .4rem;
  padding: .6rem .8rem;
  overflow: auto;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
  font-size: .9rem;
}

code.language-text{
  background-color:rgb(251, 250, 247);
  font-size: .95rem;
}

.command-line-prompt{
  border: none;
  margin-right: 0;
}

/* Customize the prompt */
.command-line-prompt > span:before {
  color: #999;
  content: " ";
  display: block;
  padding-right: .4rem;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: "$";
}

/* Prompt for root */
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}