.outerContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  padding-left: .4rem;
  padding-right: .4rem;
}

@media only screen and (min-width: 1200px) {
  .container{
    width: 60%;
  }
}
/* 
.title{
  font-family: 'Raleway', sans-serif;
  color: #c21057;
  font-size: 2.8rem;
  padding-top: 1rem;
} */

.article-title{
  font-family: 'Raleway', sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  padding-top: 1rem;
  color: #c21057;
  border-bottom: 1px solid #d7d7d7;
}

.meta-container{
  padding-top: .2rem;
  padding-bottom: .2rem;
  display: flex;
  justify-content: space-between;
}

.post-meta{
  font-family: 'Titillium Web', sans-serif;
  color: #8c8c8c;
  font-size: .95rem;
}

.author{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
  color: #6d6d6d;
  border-top: 1px solid #d7d7d7;
  font-size: 1rem;  
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.author-name{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
  color: #4285f4ff;
  font-size: 1rem;  
}

.authorNameWrapper{
  display: flex;
  align-items: center;
}

.author-name:hover{
  color: #c21057;
}