.container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.inside-container{
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .inside-container{
    width: 80%;
  }
}

.blogArticleList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}