.main-header{
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #c21057aa;
  box-shadow: 0px 4px 4px -4px #c21057;
  margin-bottom: 1rem;
}

.inner-container{
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .inner-container{
    display: flex;
    width: 90%;
  }
}

.logo-container{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo{
  width: 4rem;
}

.logo-text{
  font-family: 'Titillium Web', sans-serif;
  font-size: 38px;
  font-weight: 400;
  color: #c21057;
}

.nav-container{
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}

.nav-item-list{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-item{
  display:inline-flex;
  font-size: 1rem;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #c21057;
  padding-bottom: 1rem;
}


.footerCard{
  flex-basis: 50%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footerLogoContainer{
  flex-basis: 50%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.footerLogo{
  background-color: #ffffff;
  width: 4rem;
  border-radius: 2rem;
}

.footerLogoText{
  color: #ffffff;
}

.footerAbout{
  padding-left: 4rem;
  color: #ffffff;

}

.socialMediaIcons{
  display: flex;
  justify-content: center;
}

.socialMediaLogo{
  width: 1.4rem;
}

.socialMediaLink{
  padding: .5rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border-radius: 2rem;
}

.socialMediaLink:hover{
  background-color: #d4749bca;
}